@font-face {
  font-family: LeagueSpartanBold;
  src: local("LeagueSpartanBold") 
  url('../league-spartan/LeagueSpartan-Bold.otf') format("truetype");
  font-weight: bold;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
